.projects-container h2 {
  width: 100%;
  text-align: center;
  font-size: 36px;
  font-family: "Calistoga";
  color: #94d4e9;
  margin-bottom: 10px;
}

.projects-container p {
  width: 100%;
  text-align: center;
  color: #ffffff91;
}

.projects {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
}

@media (max-width: 700px) {
  .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
