.main {
  height: 80vh;
  font-size: 80px;
  margin-top: 20vh;
  font-family: "Calistoga";
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.main div {
  font-family: "Calistoga";
}

.content {
  min-width: 800px;
}

.typewriter {
  color: #94d4e9;
  font-size: 80px;
  font-family: "Calistoga";
  border-right: 1px solid #fff;
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  animation: blink 0.7s infinite;
}

.box-content {
  position: relative;
  transform: rotate(-35deg);
}
.box-content .box {
  position: relative;
  left: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animatesurface 1.5s ease-in-out infinite;
}
@keyframes animatesurface {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200px);
  }
}
.box-content .box .cube {
  position: relative;
  width: 200px;
  height: 200px;
  background: #94d4e9;

  transform-origin: bottom right;
  animation: animate 1.5s ease-in-out infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  60%,
  70%,
  80%,
  100% {
    transform: rotate(90deg);
  }
  65% {
    transform: rotate(85deg);
  }
  75% {
    transform: rotate(87.5deg);
  }
}

@media (max-width: 1000px) {
  .box-content {
    display: none;
  }

  .content {
    min-width: 720px;
  }
}
@media (max-width: 800px) {
  .box-content {
    display: none;
  }

  .content {
    min-width: 620px;
  }
}
@media (max-width: 600px) {
  .main {
    height: 100%;
    font-size: 40px;
    margin: 150px 0;
  }
  .typewriter {
    font-size: 35px;
  }
  .content {
    min-width: 320px;
  }
}
