.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  margin: 100px auto;
}

.about h2 {
  font-size: 40px;
  font-family: "Calistoga";
  color: #94d4e9;
  margin-bottom: 20px;
}

.about p {
  color: #ffffff91;
  font-size: 20px;
}
