/* Card.css */
.card-box {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  background-color: hsl(0, 0%, 20%);
  padding: 20px;
  border-radius: 15px;
  color: white;
}

.card {
  width: 100%;
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}

.card img:hover {
  transform: scale(1.03);
  transition: all 0.4s;
}
.card h4 {
  margin: 0 0 12px 0;
  font-size: 1.4rem;
  font-weight: 600;
}

.card span {
  display: block;
  text-align: left;
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.link-box {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.btn {
  flex: 1;
  display: inline-block;
  text-decoration: none;
  padding: 12px 20px;
  font-size: 0.95rem;
  border-radius: 10px;
  text-align: center;
  font-weight: 500;
  transition: all 0.3s ease;
}

.github-btn {
  background-color: hsl(0, 0%, 15%);
  color: white;
  box-shadow: rgba(165, 163, 163, 0.2) 0px 2px 8px 0px;
}

.github-btn:hover {
  background-color: hsl(0, 0%, 25%);
}

.demo-btn {
  background: #94d4e9;
  color: #000;
}

.demo-btn:hover {
  background: #7fc4db;
}
