.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  margin: 100px auto;
}

.contact h2 {
  font-size: 40px;
  font-family: "Calistoga";
  color: #94d4e9;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 90%;
}

form input {
  border: none;
  font-size: 20px;
  padding: 15px 20px;
  background: hsl(0, 0%, 20%);
  border-radius: 10px;
}

#textbox {
  border: none;
  font-size: 20px;
  padding: 15px 20px;
  background: hsl(0, 0%, 20%);
  border-radius: 10px;
  height: 150px;
  resize: none;
}

#btn {
  background: #94d4e9;
  color: black;
  margin-top: 10px;
  box-shadow: 0 0 0 2px hsl(0, 0%, 20%, 0.5);
}

#btn:hover {
  transform: translateY(-10px);
  background: #3a97b6;
  color: #ffffff;
  transition: all 0.5s;
}
